apiVersion: 1

notifiers:
  - name: Slack Alerts
    type: slack
    uid: slack_alerts
    org_id: 1
    is_default: false
    settings:
      url: "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK"
      recipient: "#devops-alerts"
      mentionChannel: "here"
      mentionUsers: ""
      token: ""
    secure_settings:
      url: ""
    send_reminder: true
    frequency: "1m"
    disable_resolve_message: false
    
  - name: Email Alerts
    type: email
    uid: email_alerts
    org_id: 1
    is_default: false
    settings:
      addresses: "devops-team@company.com"
    secure_settings: {}
    send_reminder: true
    frequency: "1m"
    disable_resolve_message: false
    
  - name: Telegram Alerts
    type: telegram
    uid: telegram_alerts
    org_id: 1
    is_default: false
    settings:
      bottoken: "YOUR_TELEGRAM_BOT_TOKEN"
      chatid: "YOUR_TELEGRAM_CHAT_ID"
    secure_settings: {}
    send_reminder: true
    frequency: "1m"
    disable_resolve_message: false
