apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "30s"
      queryTimeout: "60s"
      httpMethod: "POST"
    secureJsonData: {}
    
  - name: Loki
    type: loki
    access: proxy
    url: http://loki.monitoring.svc.cluster.local:3100
    editable: true
    jsonData:
      maxLines: 1000
    secureJsonData: {}
    
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch.monitoring.svc.cluster.local:9200
    editable: true
    jsonData:
      timeField: "@timestamp"
      esVersion: 7.0.0
      maxConcurrentShardRequests: 5
      logMessageField: message
      logLevelField: level
    secureJsonData: {}
